USE [master]
GO
/****** Object:  Database [Gerechten]    Script Date: 1/06/2020 8:36:08 ******/
CREATE DATABASE [Gerechten]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gerechten', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Gerechten.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gerechten_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Gerechten_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gerechten].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gerechten]
GO
/****** Object:  Table [dbo].[Artikel]    Script Date: 1/06/2020 8:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikel](
	[artikelId] [int] IDENTITY(1,1) NOT NULL,
	[artikelNaam] [nvarchar](70) NOT NULL,
	[eenheid] [nchar](15) NOT NULL,
	[prijs] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Artikelen] PRIMARY KEY CLUSTERED 
(
	[artikelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gerecht]    Script Date: 1/06/2020 8:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gerecht](
	[gerechtId] [nvarchar](36) NOT NULL,
	[gerechtNaam] [nvarchar](50) NOT NULL,
	[gerechtIngredienten] [nvarchar](255) NULL,
 CONSTRAINT [PK_Gerecht] PRIMARY KEY CLUSTERED 
(
	[gerechtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artikel] ON 

INSERT [dbo].[Artikel] ([artikelId], [artikelNaam], [eenheid], [prijs]) VALUES (1, N'Aardappel Belle de Fontenay', N'Kg             ', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Artikel] ([artikelId], [artikelNaam], [eenheid], [prijs]) VALUES (2, N'Aardappel KROKETTEN DV (20 kg)', N'Stuk           ', CAST(10.30 AS Decimal(18, 2)))
INSERT [dbo].[Artikel] ([artikelId], [artikelNaam], [eenheid], [prijs]) VALUES (3, N'Aardappel DENNEAPPELTJES.10kg', N'Stuk           ', CAST(14.75 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Artikel] OFF
INSERT [dbo].[Gerecht] ([gerechtId], [gerechtNaam], [gerechtIngredienten]) VALUES (N'2a38dba7-f111-4324-892a-cfb7a4ecd740', N'Frieten', N'8|2123')
INSERT [dbo].[Gerecht] ([gerechtId], [gerechtNaam], [gerechtIngredienten]) VALUES (N'2e86a4e2-25cb-4b62-97ab-4b4110f8164c', N'Eendenborstje', N'251|514|2031')
INSERT [dbo].[Gerecht] ([gerechtId], [gerechtNaam], [gerechtIngredienten]) VALUES (N'75dfd4e7-6eb5-4269-adcc-e280b1abe285', N'Spek & eieren', N'533|858')
/****** Object:  StoredProcedure [dbo].[ArtikelDelete]    Script Date: 1/06/2020 8:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ArtikelDelete] @artikel_id int
AS
delete from Artikel where artikelId = @artikel_id
GO
/****** Object:  StoredProcedure [dbo].[ArtikelInsert]    Script Date: 1/06/2020 8:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ArtikelInsert] @artikelNaam nvarchar(70), @eenheid nchar(15), 
@prijs decimal(18,2)
AS
insert into Artikel(artikelNaam, eenheid,prijs) values (@artikelNaam, @eenheid,@prijs)
GO
/****** Object:  StoredProcedure [dbo].[ArtikelUpdate]    Script Date: 1/06/2020 8:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ArtikelUpdate] @artikelNaam nvarchar(70), @eenheid nchar(15), 
@prijs decimal(18,2), @artikelId int
AS
update Artikel set 
artikelNaam = @artikelNaam, 
eenheid = @eenheid,
prijs = @prijs
where artikelId = @artikelId
GO
/****** Object:  StoredProcedure [dbo].[IngredientenSelectAllDescPrijs]    Script Date: 1/06/2020 8:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IngredientenSelectAllDescPrijs]
as
declare @temptable table(artikelNaam nvarchar(70), prijs decimal(18,2), eenheid nchar(15), artikelId int)
insert into @temptable select artikelNaam, prijs, eenheid, artikelId from Artikel
select * from @temptable order by Prijs desc, ArtikelNaam asc
GO
USE [master]
GO
